/* COMMON STUFF */
editable { cursor:text; }
.thVal {
	position:relative;
	color:#000;
	top:0px;
	padding-left:6px;
	height:13px;
	width:19px;
}

/* LIGHT THEME */
.light {
	text-decoration: none;
	line-height:20px;
	display:inline-block;
	font-size:12px;
	text-align:center;
	line-height:24px;
	border-radius: 3px;
}
.light.current-pos {
	line-height:24px;
	display:inline-block;
	padding: 0 7px;
}
.light a, .light span {
	float:left;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 2px 0 0;
	border-radius: 3px;
}
.light a, .light span, .light.current-pos {
	color: #666;
	border: 1px solid #BBB;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.light a:hover:not(.paginate-skip) {
	color:#FFF;
	background-color: #CEDCE7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CEDCE7), to(#596a72));
	background-image: -webkit-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -moz-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -ms-linear-gradient(top, #CEDCE7, #596a72);
	background-image: -o-linear-gradient(top, #CEDCE7, #596a72);
	background-image: linear-gradient(to bottom, #CEDCE7, #596a72);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#CEDCE7, endColorstr=#596a72);
	text-decoration: none;
}
.light a.paginate-skip {
	border:none;
	box-shadow: none;
}
.light .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}
.light .disabled {
	color:#CCC;
	box-shadow:none;
	cursor:not-allowed;
}

/* DARK THEME */
.dark {
	text-decoration: none;
	line-height:20px;
	display:inline-block;
	font-size:12px;
	text-align:center;
	line-height:24px;
	border-radius: 3px;
}
.dark.current-pos {
	line-height:24px;
	display:inline-block;
	padding: 0 7px;
}
.dark span, .dark a {
	float:left;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 2px 0 0;
	border-radius: 3px;
}
.dark a, .dark span, .dark.current-pos {
	color: #FFF;
	border: 1px solid #000;
	background: #19384d;
	background-image: -webkit-linear-gradient(top, #19384d, #435561);
	background-image: -moz-linear-gradient(top, #19384d, #435561);
	background-image: -ms-linear-gradient(top, #19384d, #435561);
	background-image: -o-linear-gradient(top, #19384d, #435561);
	background-image: linear-gradient(to bottom, #19384d, #435561);
	-webkit-box-shadow: 0px 1px 7px #000000;
	-moz-box-shadow: 0px 1px 7px #000000;
	box-shadow: 0px 1px 7px #000000;
}
.dark a:hover:not(.paginate-skip) {
	color:#FFF;
	background: #435561;
	background-image: -webkit-linear-gradient(top, #435561, #237482);
	background-image: -moz-linear-gradient(top, #435561, #237482);
	background-image: -ms-linear-gradient(top, #435561, #237482);
	background-image: -o-linear-gradient(top, #435561, #237482);
	background-image: linear-gradient(to bottom, #435561, #237482);
	text-decoration: none;
}
.dark .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	cursor: default;
}
.dark .disabled {
	color: #666;
	cursor:not-allowed;
}

/*COMPACT THEME*/
.compact {
	text-decoration: none;
	line-height:20px;
	display:inline-block;
	font-size:12px;
	text-align:center;
	line-height:20px;
	font-weight:bold;
}
.compact a, compact span, .compact.current-pos {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
	color:  #333;
}
.compact span, .compact a {
	float:left;
	min-width: 8px;
	padding: 0 7px;
	margin: 0 0px 0 0;
	display:inline-block;
}
.compact.current-pos {
	padding:0 7px;
	border: 1px solid #000;
}
.compact a, .compact span {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.compact > span:first-child, .compact > a:first-child { border-left: 1px solid #000; }
.compact a:hover:not(.paginate-skip) {
 	color: #FFF;
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0 ); /* IE6-9 */
	text-decoration: none;
	-o-transition:.1s;
	-ms-transition:.1s;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	/* ...and now for the proper property */
	transition:.1s;
}
.compact .paginate-skip { background:none; }
.compact .current {
	background: #606c88;
	color: #FFF;
	cursor: default;
}
.compact .disabled {
	color:  #CCC;
	cursor:not-allowed;
}
